﻿﻿@using Microsoft.AspNetCore.Identity
@using MUK.NTierMvcProjectTemplate.Entities.Concretes;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model MakaleViewModel

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-8 mb-3">
            <form asp-action="Add" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Baslik" class="form-label"></label>
                    <input asp-for="Baslik" class="form-control">
                    <span asp-validation-for="Baslik"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="İcerik" class="form-label"></label>
                    <input asp-for="İcerik" class="form-control">
                    <span asp-validation-for="İcerik"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KonuId" class="form-label"></label>
                    <select asp-for="KonuId" class="form-control" asp-items="@ViewBag.Konular"></select>
                    <span asp-validation-for="KonuId"></span>
                </div>
                <button type="submit" class="btn btn-primary">Add Item</button>
            </form>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Bloglar)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Baslik</td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td> <a class="text-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a></td>
                    <td> <a class="text-danger" asp-route-id="@item.Id" asp-action="Edit">Edit</a></td>
                }
            </tr>
        }
    </tbody>
</table>